@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="card-header"><h1 class="text-danger">@ViewData["Title"]</h1></div>
    <div class="card-body"><p class="text-danger">You do not have access to this resource.</p></div>
</header>
