@page
@model BrandonSimpleBlog.Areas.Admin.Pages.ManageCategoriesModel
@{
    ViewData["Title"] = "Manage Categories";
    ViewData["ActivePage"] = AdminNavPages.ManageCategories;
}

<h4>@ViewData["Title"]</h4>
