@page
@model BrandonSimpleBlog.Areas.Admin.Pages.ManageBlogSettingsModel
@{
    ViewData["Title"] = "Manage Blog Settings";
    ViewData["ActivePage"] = AdminNavPages.ManageBlogSettings;
}

<h4>@ViewData["Title"]</h4>
