@page
@model BrandonSimpleBlog.Areas.Admin.Pages.ManageBlogPostsModel
@{
    ViewData["Title"] = "Manage Blog Posts";
    ViewData["ActivePage"] = AdminNavPages.ManageBlogPosts;
}

<h4>@ViewData["Title"]</h4>
<div class="card-body">
    <partial name="_ManagePostsListPartial" model="Model.PostResults" />
</div>