@page "{year}/{month}"
@model BrandonSimpleBlog.Pages.ArchiveModel
@{
    ViewData["Title"] = "Archive";
}

<h1>Blog Archive for @Model.Month @Model.Year</h1>

@if (Model.MonthResults != null && Model.MonthResults.TotalReults > 0)
{
    <partial name="_BlogPostListPartial" model="Model.MonthResults" />
}
else
{
    <div>No blog posts found for this month.</div>
}